.beers{
  text-align: center;
}

a{
  text-decoration:none;
}
.horizontal{
  margin:145px 0 0 -335px;
  padding:0;
  position:absolute;
  top:50%;
  left:50%;
  width:760px;
  height:20em;
  li{
    display:inline-block;
	   list-style-type:none;
	   position:relative; 
	   float:left; 
	   margin-top:75px;
 	  width:10em;
	   height:20em;
	   overflow:hidden;
    @include transition(0.5s ease-in-out);
    &:hover{
      margin:0;
      width:10em;
      height:300px;
      > img{
	       margin-left:-70px;
	       width:300px;
	       height:300px;
      }
    }
  }
}



img{
  margin-left:0px;
  @include transition(0.5s ease-in-out);
  @include filter(drop-shadow(0px 2px 8px white));
}

.texto{
  position:absolute;
  left:150px;
  width:130px;
  z-index:10;
}

.btn{
  background:#555;
	 color:#fff;
  display:block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1em;
  text-align:center;
  letter-spacing: 1px; 
  width:100%;
  padding:10px 0;
  margin-top:15px;
  @include transition(0.2s);

  &:hover{
    background:#FF9A00;
  }
}